################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
/lib
/packages
/.tmp
/bin
out/*
/sys/RCa21300
/sys/RCb21300
/artifacts
build/obj
x64/
Debug/
Debug_LIB/
Debug_DLL/
Release_LIB/
Release_DLL/
Release/
Release (static)/
Release (dynamic)/
*.log
*.TMP
*.aps
*.user
